
@{
    ViewData["Title"] = "Mark";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css" />

<style>
    .title {
        font-family: 'Times New Roman';
        color: darkblue;
        text-align: center;
        font-size: 50px;
    }
</style>

@{ var index = 1;
    var index1 = 1;
    var index2 = 1;
    var index3 = 1;
    }
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h1 class="title">Mark</h1>
                <div class="card-body">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="sem1-tab" data-toggle="tab" href="#sem1" role="tab" aria-controls="sem1" aria-selected="true">LIST MARKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sem2-tab" data-toggle="tab" href="#sem2" role="tab" aria-controls="sem2" aria-selected="false">LIST MARK PASSED</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sem3-tab" data-toggle="tab" href="#sem3" role="tab" aria-controls="sem3" aria-selected="false">LIST MARK FAILED</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sem4-tab" data-toggle="tab" href="#sem4" role="tab" aria-controls="sem4" aria-selected="false">RETEST SUBJECTS</a>
                        </li>
                    </ul>
                    <div class="tab-content ml-1" id="myTabContent">
                        <div class="tab-pane fade show active" id="sem1" role="tabpanel" aria-labelledby="sem1-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content">
                                        <form action="/" method="post">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Serial</th>
                                                        <th>Module</th>
                                                        <th>Title</th>
                                                        <th>Mark</th>
                                                        <th>Max Mark</th>
                                                        <th>Rate</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var mark in ViewBag.marks)
                                                    {
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>@mark.Exam.Subject.SubjectName</td>
                                                            <td>@mark.Exam.Title</td>
                                                            <td>@mark.Mark1</td>
                                                            <td>@mark.MaxMark</td>
                                                            <td>@mark.Rate</td>
                                                            <td>@mark.StatusMark</td>
                                                        </tr>
                                                        index++;
                                                    }

                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sem2" role="tabpanel" aria-labelledby="sem2-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Serial</th>
                                                    <th>Exam Title</th>
                                                    <th>Subject</th>
                                                    <th>Mark</th>
                                                    <th>Max Mark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.listPassed)
                                                {
                                                    <tr>
                                                        <td>@index1</td>
                                                        <td>@item.Exam.Title</td>
                                                        <td>@item.Exam.Subject.SubjectName</td>
                                                        <td>@item.Mark1</td>
                                                        <td>@item.MaxMark</td>
                                                    </tr>
                                                    index1++;
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sem3" role="tabpanel" aria-labelledby="sem3-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="content">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Serial</th>
                                                    <th>Exam Title</th>
                                                    <th>Subject</th>
                                                    <th>Mark</th>
                                                    <th>Max Mark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.listFailed)
                                                {
                                                    <tr>
                                                        <td>@index2</td>
                                                        <td>@item.Exam.Title</td>
                                                        <td>@item.Exam.Subject.SubjectName</td>
                                                        <td>@item.Mark1</td>
                                                        <td>@item.MaxMark</td>
                                                    </tr>
                                                    index2++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sem4" role="tabpanel" aria-labelledby="sem4-tab">
                            <div class="row">
                                <div class="col-12">

                                    <div class="content">
                                        <form action="/" method="post">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Serial</th>
                                                        <th>Exam title</th>
                                                        <th>Subject</th>
                                                        <th>Mark</th>
                                                        <th>Max Mark</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.retestSubject)
                                                    {
                                                        <tr>
                                                            <td>@index3</td>
                                                            <td>@item.Exam.Title</td>
                                                            <td>@item.Exam.Subject.SubjectName</td>
                                                            <td>@item.Mark1</td>
                                                            <td>@item.MaxMark</td>
                                                        </tr>
                                                        index3++;
                                                    }
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
