<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a asp-area="faculty" asp-controller="dashboard" asp-action="index" asp-route-facultyid="@ViewBag.faculty.AccountId">
            <img src="~/admin/images/Capture.jpg" style="width:229px; height:77px"   alt="Zeal Education" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a asp-area="faculty" asp-controller="dashboard" asp-action="index" asp-route-facultyid="@ViewBag.faculty.AccountId">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>

                </li>

                <li>
                    <a asp-area="faculty" asp-controller="marking" asp-action="index" asp-route-facultyid="@ViewBag.faculty.AccountId">
                        <i class="far fa-check-square"></i>Marking
                    </a>
                </li>
                <li>
                    <a asp-area="faculty" asp-controller="attendance" asp-action="class" asp-route-facultyid="@ViewBag.faculty.AccountId">
                        <i class="far fa-calendar"></i>Attendance
                    </a>
                </li>
                <li>
                    <a asp-area="faculty" asp-controller="student" asp-action="class" asp-route-facultyid="@ViewBag.faculty.AccountId">
                        <i class="fa fa-users"></i>Student
                    </a>
                </li>

                <li>
                    <a asp-area="faculty" asp-controller="schedule" asp-action="index" asp-route-facultyid="@ViewBag.faculty.AccountId">
                        <i class="fa fa-calendar"></i>Schedule
                    </a>
                </li>
                <li>
                    <a asp-area="faculty" asp-controller="examination" asp-action="index" asp-route-facultyid="@ViewBag.faculty.AccountId">
                        <i class="fa fa-book"></i>Examination analysis
                    </a>
                </li>
                
                <li>
                    <a asp-area="faculty" asp-controller="schedule" asp-action="class" asp-route-facultyid="@ViewBag.faculty.AccountId">
                        <i class="fa fa-calendar"></i>Test Schedule
                    </a>
                </li>
               
            </ul>
        </nav>
    </div>
</aside>
