@model ProjectSemester3.Areas.Admin.ViewModel.AccountViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Bootstrap4.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@Html.Raw(TempData["msg"])

@{var index = 1;}
<div class="container">

    @*///////////////////////////////////////*@
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                var success = "";
                                if (TempData["success"] != null)
                                {
                                    success = TempData["success"].ToString();
                                }
                            }
                            @if (success.Equals("success"))
                            {
                                <span class="au-alert-success" id="notification">Successfully!</span>
                            }
                            <!-- DATA TABLE -->
                            <h1 class="m-b-35">Account</h1>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left padding_search_bar">
                                    <form class="form-header" asp-action="index" method="get">

                                        <input type="hidden" name="pageSize" value="@ViewBag.psize" />
                                        <div class="rs-select2--light rs-select2--md">
                                            @* start filter search*@

                                            <select class="form-control" name="roleKeyword">
                                                <option value="">Choose Role</option>
                                                @foreach (var role in ViewBag.listRole)
                                                {
                                                    if (ViewBag.roleKeyword == role)
                                                    {
                                                        <option value="@role" selected>@role</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@role">@role</option>
                                                    }
                                                }
                                            </select>
                                            @* end filter search*@

                                        </div>
                                        <div class="rs-select2--light rs-select2--md">

                                            @* start filter search*@
                                            <select class="form-control" name="genderKeyword">
                                                <option value="">Choose Gender</option>
                                                <option value="true">Male</option>
                                                <option value="false">Female</option>
                                            </select>
                                            @* end filter search*@

                                        </div>
                                        <div class="rs-select2--light rs-select2--md">

                                            @* start filter search*@
                                            <select class="form-control" name="statusKeyword">
                                                <option value="">Choose Status</option>
                                                <option value="true">Active</option>
                                                <option value="false">Deleted</option>
                                            </select>
                                            @* end filter search*@

                                        </div>
                                        <div class="rs-select2--light">
                                            @* Start Search autocomplete*@
                                            <input class="searchPadding" type="text" name="searchKeyword" id="searchkeyword" placeholder="Search..." value="@ViewBag.searchKeyword" />

                                            @* End Search autocomplete*@

                                        </div>
                                        <div class="rs-select2--light">
                                            <button class="au-btn au-btn-load au-btn--large" type="submit">
                                                Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="table-data__tool-right">
                                    <button class="au-btn au-btn-icon au-btn--blue au-btn--small" data-toggle="modal" data-target="#ModalCreate">
                                        <i class="zmdi zmdi-plus"></i>add item
                                    </button>
                                </div>
                            </div>

                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Serial</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Fullname</th>
                                <th>PhoneNumber</th>
                                <th>Gender</th>
                                <th>Role</th>
                                <th>Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in ViewBag.accounts.PagedList)
                            {
                            <tr @*onclick="location.href = '@Url.Action("edit", "accounts", new { id=account.AccountId })'"*@>
                                <td>@index</td>
                                <td>@account.Username</td>
                                <td>@account.Email</td>
                                <td>@account.Fullname</td>
                                <td>@account.Phone</td>
                                <td>@(account.Gender ? "Male" : "Female")</td>
                                <td>@account.Role.RoleName</td>
                                <td>@(account.Active ? "Actived" : "Inactive")</td>
                                <td>
                                    <a type="button" class="btn btn-success editaccount" data-toggle="modal" data-target="#ModalEdit" asp-controller="" asp-action=""><i class="fas fa-edit"></i></a>
                                    <form asp-controller="accounts" asp-action="delete" method="post" style="display: inline-block;">
                                        <input type="hidden" asp-for="Account.AccountId" value="@account.AccountId" />
                                        @*<input type="hidden" asp-for="Batch.ClassId" value="@batch.ClassId" />*@
                                        <button type="submit" onclick="return confirm('Are you sure?')"> <a type="button" class="btn btn-danger" style="color: white;"><i class="far fa-trash-alt"></i></a></button>
                                    </form>
                                    <input type="hidden" name="accountId" id="accountId" value="@account.AccountId" />
                                    @*<input type="hidden" name="classes" id="classes" value="@batch.ClassId" />*@
                                </td>
                            </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                    @*Start pagination*@
                    <div class="paging_bar">
                        @using (Html.BeginForm("index", "accounts", FormMethod.Get, new { id = "form1" }))
                        {
                            <input type="hidden" name="searchKeyword" value="@ViewBag.searchkeyword" />
                            <input type="hidden" name="roleKeyword" value="@ViewBag.roleKeyword" />
                            <input type="hidden" name="genderKeyword" value="@ViewBag.genderKeyword" />
                            <input type="hidden" name="statusKeyword" value="@ViewBag.statusKeyword" />
                            <div class="page-count">
                                Page &nbsp;@(ViewBag.accounts.PagedList.PageCount < ViewBag.accounts.PagedList.PageNumber ? 0 : ViewBag.accounts.PagedList.PageNumber) &nbsp;of @ViewBag.accounts.PagedList.PageCount
                            </div>

                            <div class="pagination">
                                @Html.PagedListPager((IPagedList)ViewBag.accounts.PagedList, page => Url.Action("index", "accounts", new { searchKeyword = ViewBag.searchKeyword, roleKeyword = ViewBag.roleKeyword, genderKeyword = ViewBag.genderKeyword, statusKeyword = ViewBag.statusKeyword, page, pageSize = ViewBag.psize }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
                                &nbsp;&nbsp;  @Html.DropDownList("pageSize")
                            </div>
                        }
                    </div>
                    @*End pagination*@
                </div>
            </div>
        </div>
    </div>
</div>

@*Create modal*@
<div class="modal fade" id="ModalCreate" tabindex="-1" batch="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Account</h4>

                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <form asp-controller="accounts" asp-action="create" method="post" enctype="multipart/form-data" name="Form" onsubmit="return validateEmail('email1');">

                    <div class="form-group" id="roleid">
                        <label asp-for="Account.RoleId" class="control-label">Role</label>
                        <select asp-for="Account.RoleId" class="form-control" asp-items="ViewBag.RoleId" required="required">
                        </select>
                        <span asp-validation-for="Account.RoleId" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="student">
                        <label asp-for="Account.ClassId" class="control-label">Class</label>
                        <input class="form-control" type="text" name="listClassName" id="listClassName" placeholder="Choose Class" asp-for="Account.Class.ClassName" />

                    </div>
                    <div class="form-group" id="scholarshipstudent">
                        <label class="control-label">Scholarship</label>
                        <input class="form-control" type="text" name="listScholarship" id="listScholarship" placeholder="Choose Scholarship" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Account.Fullname" class="control-label"></label>
                        <input asp-for="Account.Fullname" class="form-control" required="required" />
                        <span asp-validation-for="Account.Fullname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Email" class="control-label"></label>
                        <input asp-for="Account.Email" class="form-control" type="email" id="email1" required="required" />
                        <span asp-validation-for="Account.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Dob" class="control-label">Date of Birth</label>
                        <input asp-for="Account.Dob" class="form-control" type="date" id="dob" required="required" onchange="CheckDateSmaller(this.id);" />
                        <span asp-validation-for="Account.Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Address" class="control-label"></label>
                        <input asp-for="Account.Address" class="form-control" required="required" />
                        <span asp-validation-for="Account.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="male" asp-for="Account.Gender" value="true" checked>
                            <label class="form-check-label" for="male" asp-for="Account.Gender">Male &nbsp;</label>

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  id="female" asp-for="Account.Gender" value="false">
                            <label class="form-check-label" for="female" asp-for="Account.Gender">Female &nbsp;</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Phone" class="control-label"></label>
                        <input asp-for="Account.Phone" class="form-control" type="number" min="0" maxlength="18" required="required" />
                        <span asp-validation-for="Account.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Avatar" class="control-label"></label>
                        <input asp-for="Account.Avatar" class="form-control" type="file" name="photo" />
                        <span asp-validation-for="Account.Avatar" class="text-danger"></span>
                    </div>

                    <input type="submit" value="ADD" class="btn btn-primary" />
                </form>
            </div>

        </div>
    </div>
</div>
@*Create modal*@


@*Edit modal*@
<div class="modal fade" id="ModalEdit" tabindex="-1" batch="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Details</h4>

                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <form asp-controller="accounts" asp-action="edit" method="post" enctype="multipart/form-data" name="Form">

                    <div class="form-group">
                        <label class="control-label">Role</label>
                        <input class="form-control" type="text" id="roleaccount" disabled />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Class</label>
                        <input class="form-control" type="text" name="listClassName" id="classaccount" disabled />

                    </div>

                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input class="form-control" id="usernameaccount" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fullname</label>
                        <input class="form-control" name="fullname" id="fullnameaccount" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="email" name="email" id="emailaccount" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date of Birth</label>
                        <input class="form-control" name="dob" type="datetime" id="dobaccount" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Address</label>
                        <input class="form-control" name="address" id="addressaccount" required="required" disabled />
                    </div>
                    <div class="form-group">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="maleaccount" value="true" disabled>
                            <label class="form-check-label" for="male">Male &nbsp;</label>

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="femaleaccount" value="false" disabled>
                            <label class="form-check-label" for="female">Female &nbsp;</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phone Number</label>
                        <input class="form-control" type="number" name="phone" id="phoneaccount" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Active</label>
                        <input class="form-control" type="text" name="phone" id="activeaccount" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <img src="" alt="Alternate Text" id="avataraccount" height="100px" width="100px" />
                    </div>

                    @*<input type="submit" value="ADD" class="btn btn-primary" />*@
                </form>
            </div>

        </div>
    </div>
</div>
@*Edit modal*@

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create</h4>

                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <form asp-controller="accounts" asp-action="create" method="post" enctype="multipart/form-data" name="Form" onsubmit="return validateEmail('email1');">

                        <div class="form-group" id="roleid">
                            <label asp-for="Account.RoleId" class="control-label">Role</label>
                            <select asp-for="Account.RoleId" class="form-control" asp-items="ViewBag.RoleId" required="required">
                            </select>
                            <span asp-validation-for="Account.RoleId" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="student">
                            <label asp-for="Account.ClassId" class="control-label">Class</label>
                            <input class="form-control" type="text" name="listClassName" id="listClassName" placeholder="Choose Class" asp-for="Account.Class.ClassName" />

                        </div>
                        <div class="form-group" id="scholarshipstudent">
                            <label class="control-label">Scholarship</label>
                            <input class="form-control" type="text" name="listScholarship" id="listScholarship" placeholder="Choose Scholarship" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Account.Fullname" class="control-label"></label>
                            <input asp-for="Account.Fullname" class="form-control" name="fullname" required="required" />
                            <span asp-validation-for="Account.Fullname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Account.Email" class="control-label"></label>
                            <input asp-for="Account.Email" class="form-control" type="email" name="email" id="email1" required="required" />
                            <span asp-validation-for="Account.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Account.Dob" class="control-label">Date of Birth</label>
                            <input asp-for="Account.Dob" class="form-control" name="dob" type="date" id="dob" required="required" onchange="CheckDateSmaller(this.id);" />
                            <span asp-validation-for="Account.Dob" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Account.Address" class="control-label"></label>
                            <input asp-for="Account.Address" class="form-control" name="address" required="required" />
                            <span asp-validation-for="Account.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="male" asp-for="Account.Gender" value="true" checked>
                                <label class="form-check-label" for="male" asp-for="Account.Gender">Male &nbsp;</label>

                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="female" asp-for="Account.Gender" value="false">
                                <label class="form-check-label" for="female" asp-for="Account.Gender">Female &nbsp;</label>

                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Account.Phone" class="control-label"></label>
                            <input asp-for="Account.Phone" class="form-control" type="number" name="phone" min="0" maxlength="18" required="required" />
                            <span asp-validation-for="Account.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Account.Avatar" class="control-label"></label>
                            <input asp-for="Account.Avatar" class="form-control" type="file" name="photo" />
                            <span asp-validation-for="Account.Avatar" class="text-danger"></span>
                        </div>

                        <input type="submit" value="ADD" class="btn btn-primary" />
                    </form>
                </div>

            </div>
        </div>
    </div>*@
