<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5
   CSS3,Bootstrap,Tailwind CSS which are 100% Mobile friendly. w3Hubs all Layouts are responsive
   cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="~/client/images/icon.png" />

</head>
<head>
    <title>Reset Password Form In Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
         body {
         background-color: #17c0eb;
         font-family: Nunito Sans;
         }
         .btn {
         background-color: #17c0eb;
         width: 100%;
         color: #fff;
         padding: 10px;
         font-size: 18px;
         }
         .btn:hover {
         background-color: #2d3436;
         color: #fff;
         }
         input {
         height: 50px !important;
         }
         .form-control:focus {
         border-color: #18dcff;
         box-shadow: none;
         }
         h3 {
         color: #17c0eb;
         font-size: 36px;
         }
         .cw {
         width: 35%;
         }
         @*@media(max-width: 992px) {
         .cw {
         width: 60%;
         }
         }
         @media(max-width: 768px) {
         .cw {
         width: 80%;
         }
         }
         @media(max-width: 492px) {
         .cw {
         width: 90%;
         }
         }
             *@
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white text-center p-5 mt-3 center" style="height: 520px;">
            <h3>Forgot Password </h3>
            
            <form asp-controller="account" asp-action="forgotpassword" method="post" class="pb-3">
                <div class="form-group">
                    <label class="control-label">Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your email" value="@ViewBag.email" required />

                    <input type="submit" class="btn btn-primary" value="Send" />

                    <span style="display:  @(ViewBag.email == null || ViewBag.msg != null ? "none" : "")"><span class="font-weight-bold text-danger" id="timerLabel" runat="server">60</span>s</span>
                    
                    <span class="text-danger">@ViewBag.msg1</span>
                </div>
            </form>
            <br />
            <form asp-controller="account" asp-action="checkcode" method="post" class="pb-3">
                <div class="form-control">
                    <label class="control-label">Code:</label>
                    <input type="text" class="form-control" name="codeconfirm" placeholder="Enter Code" required />

                    <input type="hidden" name="email" value="@ViewBag.email" />
                    <span class="text-danger">@ViewBag.msg</span>
                    <input type="submit" class="btn btn-primary" value="Check" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">

    function countdown() {
        seconds = document.getElementById("timerLabel").innerHTML;
        if (seconds > 0) {
            document.getElementById("timerLabel").innerHTML = seconds - 1;
            setTimeout("countdown()", 1000);
        }
    }
    setTimeout("countdown()", 1000);


</script>