@model ProjectSemester3.Models.Feedback

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@Html.Raw(TempData["msg"])
@{var index = 1;}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>FeedBacks</h1>
                    <br />
                    <button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#myModal">
                        <i class="zmdi zmdi-plus"></i>Add new FeedBack
                    </button>
                    <br /><br />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Serial</th>
                                <th>Subject</th>
                                <th>Teaching</th>
                                <th>Exercises</th>
                                <th>Specialize</th>
                                <th>Assiduous</th>
                                <th>Note</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var feedback in ViewBag.feedbacks)
                            {
                            <tr onclick="location.href = '@Url.Action("edit", "feedbacks", new { id=feedback.FeedbackId })'">
                                <td>@index</td>
                                <td>@feedback.Subject.SubjectId</td>
                                <td>@feedback.Teaching</td>
                                <td>@feedback.Exercises</td>
                                <td>@feedback.Specialize</td>
                                <td>@feedback.Assiduous</td>
                                <td>@feedback.Note</td>
                                <td>

                                    <a type="button" class="btn btn-success" asp-action="edit" asp-route-id="@feedback.FeedbackId"><i class="fas fa-edit"></i></a>
                                    <a type="button" class="btn btn-danger" asp-action="delete" asp-route-id="@feedback.FeedbackId" onclick="return confirm('Are you sure?')"><i class="far fa-trash-alt"></i></a>

                                </td>
                            </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Create Feedback</h4>
            </div>
            <div class="modal-body">
                <form asp-controller="feedbacks" asp-action="create" method="post" name="Form" onsubmit="return validateForm();">
                    @*Search autocomplete*@
                    <div class="form-group">
                        <label class="control-label">Faculty</label>
                        <input class="form-control" type="text" name="feedbackFaculty" id="feedbackFaculty" placeholder="Choose Faculty" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Subject</label>
                        <select class="form-control" name="subjectFeedback" id="subjectFeedback" required="required"></select>

                    </div>

                    @*Search autocomplete*@

                    <div class="form-group">
                        <label for="teaching">Teaching</label>
                        <input type="number" min="0" max="100" class="form-control" asp-for="Teaching" name="teaching" />
                    </div>
                    <div class="form-group">
                        <label for="exercises">Exercises</label>
                        <input type="number" min="0" max="100" class="form-control" asp-for="Exercises" name="exercises" />

                    </div>
                    <div class="form-group">
                        <label for="teacherEthics">TeacherEthics</label>
                        <input type="number" min="0" max="100" class="form-control" asp-for="TeacherEthics" name="teacherEthics" />

                    </div>
                    <div class="form-group">
                        <label for="specialize">Specialize</label>
                        <input type="number" min="0" max="100" class="form-control" asp-for="Specialize" name="specialize" />
                    </div>
                    <div class="form-group">
                        <label for="assiduous">Assiduous</label>
                        <input type="number" min="0" max="100" class="form-control" asp-for="Assiduous" name="assiduous" />
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        <input type="text" class="form-control" asp-for="Note" name="note" />
                    </div>
                    <input type="submit" value="ADD" class="btn btn-primary" />
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function validateForm() {
        var teaching = document.forms["Form"]["teaching"].value.trim();
        var exercises = document.forms["Form"]["exercises"].value.trim();
        var teacherEthics = document.forms["Form"]["teacherEthics"].value.trim();
        var specialize = document.forms["Form"]["specialize"].value.trim();
        var assiduous = document.forms["Form"]["assiduous"].value.trim();
        var note = document.forms["Form"]["note"].value.trim();
        if (teaching == null || teaching == "") {
            alert("Please Fill Teaching Field");
            return false;
        }
        if (exercises == null || exercises == "") {
            alert("Please Fill Exercises Field");
            return false;
        }
        if (teacherEthics == null || teacherEthics == "") {
            alert("Please Fill TeacherEthics Field");
            return false;
        }
        if (specialize == null || specialize == "") {
            alert("Please Fill Specialize Field");
            return false;
        }
        if (assiduous == null || assiduous == "") {
            alert("Please Fill Assiduous Field");
            return false;
        }
        if (note == null || note == "") {
            alert("Please Fill Note Field");
            return false;
        }
    }
</script>
