@model ProjectSemester3.Models.Attendance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <a asp-action="Index"><i class="fa fa-arrow-circle-left" style="font-size: 30px"></i></a>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Checked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AttendanceId">Edit</a>
</div>
