
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<style>
    .title {
        font-family: 'Times New Roman';
        color: darkblue;
        text-align: center;
        font-size: 50px;
    }

    .icon_arrow {
        font-size: 30px;
        padding: 3% 3% 0 3%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <a asp-action="Index"><i class="fa fa-arrow-circle-left icon_arrow" style="font-size: 30px"></i></a>
                <h1 class="title">Details Attendance of @ViewBag.subjectname</h1>
                <div class="card-body">
                    <div class="content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Subject Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Faculty</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var attendance in ViewBag.attendances)
                                {
                                    <tr>
                                        <td>@attendance.Subject.SubjectName</td>
                                        <td>@attendance.Date.ToString("MM/dd/yyyy")</td>
                                        <td> @(ViewBag.timeday != null? ViewBag.timeday : "none")</td>
                                        <td>@attendance.Faculty.Fullname</td>
                                        @if (attendance.Checked)
                                        {
                                            <td style="color: forestgreen">Complete <i class="fa fa-check text-success"></i></td>
                                        }
                                        else
                                        {
                                            <td style="color: red">Absent <i class="fa fa-close text-danger"></i></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

