
@{
    ViewData["Title"] = "Subjectbystudent";
    Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
}
<!-- MAIN CONTENT-->
@Html.Raw(TempData["msg"])
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overview-wrap">
                    <h2 class="title-1">Subject</h2>

                </div>
            </div>
        </div>
        <div class="row m-t-25">
            @foreach (var subjects in ViewBag.subjects)
            {
                <div class="col-sm-6">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <a asp-area="faculty" asp-controller="feedback" asp-action="evaluate" asp-route-facultyid="@ViewBag.faculty.AccountId" asp-route-subjectid="@subjects.SubjectId"><i class="zmdi zmdi-check-circle"></i></a>
                                </div>
                                <div class="text">
                                    
                                    <h3>@subjects.SubjectName</h3>
                                    <span>@subjects.Status</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>




